@page "/fetchdata"
@using BlazorVideoStreaming.Data;
@inject BlobService BlobService

<PageTitle>Watch videos</PageTitle>

<h1>Watch</h1>

<p>You can watch the videos here:</p>

@if (videos == null)
{
    <p>
        <em>Loading...</em>
    </p>

}
else
{
    <ul>
        @foreach (var video in videos)
        {
            <li>
                <a href="/watch?videoUrl=@video.Url">@video.Title</a>
            </li>
        }

    </ul>
}

@code
{
    private List<Video>? videos;

    protected override async Task OnInitializedAsync()
    {
        videos = await BlobService.GetVideos();
    }
}
